<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            canAdd="true"
            canEdit="true"
            canRemove="true"
            id="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            name="ESP8266 Serial">
      </connectionType>
      <connectionService
            connectionTypeId="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            factory="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266SerialConnection$Factory"
            service="org.eclipse.remote.serial.core.ISerialPortService">
      </connectionService>
      <connectionService
            connectionTypeId="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            factory="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266SerialConnection$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
      <connectionService
            connectionTypeId="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            factory="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266SerialConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchTargetTypes">
      <launchTargetType
            id="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            provider="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266LaunchTargetProvider">
      </launchTargetType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266ToolChainProvider"
            id="ca.cdtdoug.dasESP.ESP8266.rtos.core.toolChainProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.cdt.cmake.core.toolChainProvider">
      <provider
            class="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266CMakeToolChainProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266LaunchConfigurationDelegate"
            id="ca.cdtdoug.dasESP.ESP8266.rtos.core.launchConfigurationType"
            modes="run"
            name="ESP8266"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.launchbar.core.launchBarContributions">
      <configProvider
            class="ca.cdtdoug.dasesp.esp8266.core.internal.ESP8266LaunchConfigurationProvider"
            descriptorType="org.eclipse.cdt.debug.core.coreBuildDescriptorType"
            priority="10">
      </configProvider>
   </extension>

</plugin>
