<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            factory="ca.cdtdoug.dasesp.esp8266.rtos.ui.internal.ESP8266ConnectionUI$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>

</plugin>
