<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionTypeService
            connectionTypeId="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            factory="ca.cdtdoug.dasesp.esp8266.rtos.ui.internal.ESP8266ConnectionUI$Factory"
            service="org.eclipse.remote.ui.IRemoteUIConnectionService">
      </connectionTypeService>
   </extension>
   <extension
         point="org.eclipse.launchbar.ui.launchTargetTypeUI">
      <launchTargetTypeUI
            id="ca.cdtdoug.dasESP.ESP8266.rtos.core.serialConnectionType"
            labelProvider="ca.cdtdoug.dasesp.esp8266.rtos.ui.internal.ESP8266LabelProvider">
      </launchTargetTypeUI>
      <wizard
            class="ca.cdtdoug.dasesp.esp8266.rtos.ui.internal.NewESP8266ConnectionWizard"
            icon="icons/esp16.png"
            id="ca.cdtdoug.dasESP.ESP8266.rtos.ui.wizard1"
            name="ESP8266">
      </wizard>
   </extension>

</plugin>
